body {
    font-family: "roboto", sans-serif;
    margin: 0;
}

.header {
    background: #1F2937;
    padding: 20px 200px;
}

.header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-two {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 24px;
    margin: 50px 0px;
}

.container-right {
    flex: 1;
    width: 450px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text,
.links {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background: #3882f6;
    color: #f9faf8;
    margin: 14px 0px;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
}

.box {
    background: rgba(161, 160, 160, 0.835);
    width: 350px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}

.container-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin: 20px 0 100px;
}

.items {
    max-width: 150px;
}

.img {
    border: 3px #3882f6 solid;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.subtext {
    color: #1F2937;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    padding: 20px 64px;
    color: #f9faf8;
    font-size: 14px;
}